<div>
  <div>
    <h3> Hand Curated Chuck Norris Jokes </h3>
  </div>
  <%= form_with model: @favourite_joke, url: save_joke_path, method: :post do |f| %>
    <%= f.text_field :text, value: @joke.value, readonly: true, class: "joke-text-form"%>
    <%= f.submit "Save as Favourite" %>
  <% end %>
</div>
