<nav class='navigator'>
  <div>
    <div>
      <%= link_to 'Get Jokes', path %>
      <%= link_to 'My Jokes', path %>
    </div>
    <div>
      <%= button_to 'Sign Out', destroy_user_session_path, method: :delete %>
    </div>
  </div>
</nav>
